:root {
    --primary-btn-color: #171100;
    --second-btn-color: #ffb900;
}

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Poppins;
}
a {
    text-decoration: none;
}
/* -----------COMMON CSSS------------ */
.btn {
    background-color: var(--primary-btn-color);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}
.content {
    width: min(1170px, calc(100vw - 48px));
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    align-items: center;
}
.text {
    color: #5f5b53;
    font-size: 18px;
    line-height: 30px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere;
}

/* -----------HEADER----------- */
.header {
    background-color: #fffcf4;
    /* display: flex; */
    /* flex-direction: column;
    min-height: 100dvh; */
}
.nav-bar {
    height: 94px;
    flex-shrink: 0;
}
.header .nav-bar,
.header .nav-bar ul {
    display: flex;
    align-items: center;
}
.header .nav-bar ul {
    margin-left: auto;
    /* gap: 0 42px; */
}
.header .nav-bar ul li a {
    color: #5f5b53;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    padding: 5px 21px;
}
.header .nav-bar li.active a {
    color: #171100;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    position: relative;
}
.header .nav-bar li.active a::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom: -1px;
}
.header .nav-bar a:hover {
    text-shadow: 0.3px 0 currentColor;
}
.header .action {
    padding: 11px 4px;
    border-radius: 24.5px;
    min-width: 144px;
    height: 50px;
    margin-left: 70px;
}

/* ----------------- Làm Sticky menu -----------*/
/* .header {
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fffcf4;
    right: 0;
    left: 0;
    background: red;
    /* nếu dùng fixed mà ko có để right,left=0 thì khi đó header có kích thước chiều rộng bằng phần tử bên trong nó, thì khi đó content đâu còn khoảng trống để marign,
    để left,right=0 là cho header có chiều rộng bằng viewport 
} */
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fffcf4;
}
/* ----------------- hero-----------------  */
.hero {
    background: #fffcf4;
    padding-bottom: 65px;
    padding-top: 75px;
}
.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .img-block {
    /* width: 470px;
     */
    position: relative;
    flex: 0 1 470px;
    min-width: 0;
    aspect-ratio: 470 / 685;
}
.hero .img-block .feature-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.hero .img-block .stats {
    position: absolute;
    width: 270px;
    /* height: 244px; */
    background-color: #fff;
    bottom: 48px;
    right: -100px;
    border-radius: 12px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    padding: 24px;
}
.hero .stats-item {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-bottom: 14px;
}
.hero .stats-item .stats-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .stats-info .text {
    color: #5f5b53;
    font-size: 14px;
    line-height: 26px;
}
.hero .stats-info .name {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero .info {
    width: 40%;
    /* max-height: calc(100vh - 94px); */
    padding-top: 64px;
}

.hero .title {
    color: #171100;
    font-family: Sen;
    font-size: 58px;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .desc {
    margin-top: 22px;
    margin-bottom: 38px;
}
.hero .row {
    margin-bottom: 48px;
}
.hero .row .course {
    background-color: var(--second-btn-color);
    border-radius: 32px;
    width: 180px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .row .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .row strong {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 14px;
}
p.engage {
    margin-bottom: 8px;
}
.hero .row2 .number {
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
    margin-left: 30px;
    margin-right: 10px;
}
.hero .row2 .number:first-child {
    margin-left: 0px;
}
/* -------------POPULAR COURSES------------------ */
.popular {
    padding-top: 200px;
}
.popular .content {
    position: relative;
}
.popular-pagination {
    display: flex;
    gap: 0 18px;
    position: absolute;
    right: 0;
    top: 35px;
}
.popular .previous {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular .next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffb900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-title {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}
.popular-desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 458px;
    margin-top: 16px;
}
.popular-course {
    margin-top: 58px;
    display: flex;
    gap: 0 30px;
}
.course-item {
    flex: 1;
    min-width: 0;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    /* background: #fff;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05); */
}
.course-item:hover {
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border: 1px solid transparent;
}
.course-info {
    padding: 16px 22px 32px;
}
.popular-feature-img {
    /* width: 370px;
    height: 278px; */
    width: 100%;
    aspect-ratio: 370/278;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.course-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-title {
    color: #171100;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere;
    /* câu này để làm cho các chữ ko có dấu cách cũng phải xuống dòng*/
    padding-right: 6px;
}
.course-star {
    color: #fea31b;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 6px;
}
.course-desc {
    color: #5f5b53;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    margin-top: 6px;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: anywhere; /* câu này để làm cho các chữ ko có dấu cách cũng phải xuống dòng*/
}
.course-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-price strong {
    color: #171100;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.course-price .course-btn {
    width: 118px;
    height: 50px;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 185.714% */
}
.course-price .course-btn:hover {
    background-color: var(--second-btn-color);
}
/* ---------Testimonial------------ */
.testimonial {
    background: #2e2100;
    padding: 124px 0px 96px 0px;
    margin-top: 200px;
}
.testimonial-wrap {
    display: flex;
    /* justify-content: space-between; */
}
.testi-customer img {
    width: 72px;
    height: 72px;
    display: block;
}
.testi-customer strong {
    color: #f7f7f7;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    margin-top: 18px;
    display: inline-block;
}
.customer-desc {
    color: #bfbcb2;
    font-size: 14px;
    font-style: normal;
    line-height: 26px; /* 185.714% */
    margin-top: 4px;
}
.testi-content {
    width: 740px;
    height: 160px;
    color: #fff;
    font-size: 26px;
    font-style: italic;
    line-height: 40px; /* 153.846% */
    margin-left: 271px;
    position: relative;
}
.testi-content img {
    position: absolute;
    top: -29px;
    left: -25px;
}
.testi-slide {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #634700;
    margin-top: 28px;
}
.testi-customer .active {
    background-color: var(--second-btn-color);
}

/* -------------------FEATURES--------------- */
.features {
    margin-top: 200px;
}
.features .content {
    display: flex;
    gap: 0 130px;
}
.features-info,
.features-img {
    flex: 1;
    min-width: 0;
}
.feature-left {
    flex: 0 0 570px;
}

.features .features-img {
    position: relative;
}
.features-img .main-img,
.features-img .sub-img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.features .features-img .sub-img {
    position: absolute;
    right: 0;
    top: -34px;
}
.features .features-title {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}
.features .features-desc {
    color: #5f5b53;
    font-size: 16px;
    font-style: normal;
    line-height: 28px; /* 175% */
    margin-top: 16px;
}
.features .features-btn {
    padding: 12px 32px 10px;
    background-color: var(--second-btn-color);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px; /* 175% */
    border-radius: 26px;
    margin-top: 32px;
    display: inline-block;
}
.features-img .single-img {
    width: 100%;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
/* --------------------BLOG-------------------- */
.blog {
    padding: 96px 0px 140px;
    background: #fffcf4;
}
.blog-header {
    text-align: center;
}
.blog-heading {
    color: #130606;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}
.blog-desc {
    color: #696262;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: 28px; /* 175% */
    width: 448px;
    margin: 16px auto 0;
}
.blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.blog-card {
    flex: 1;
    min-width: 0;
    border-radius: 16px;
    overflow: hidden;
}
.blog-card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.blog-card-body {
    padding: 20px 20px 28px;
    background-color: #fff;
}
.blog-card-title {
    width: 330px;
    margin-top: 25px;
}
.blog-card-date {
    color: #5f5b53;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    display: flex;
    gap: 0 4px;
    align-items: center;
    border-bottom: 1px solid #e2dfda;
    width: 160px;
    padding-bottom: 12px;
}
.blog-card-date::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ffb900;
    display: inline-block;
    border-radius: 50%;
}
/* .blog-card-date::after {
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
    display: block;
} */
.blog-card-title a {
    color: #171100;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    /* width: 330px; */
}
.blog-card-btn {
    padding: 12px 21px;
    background-color: var(--primary-btn-color);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 185.714% */
    display: inline-block;
    border-radius: 25px;
    margin-top: 12px;
}
.blog-card-btn:hover {
    background-color: var(--second-btn-color);
}
.blog__pagination {
    display: flex;
    gap: 0;
    justify-content: center;
    margin-top: 38px;
}
.blog__dot {
    width: 12px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}
.blog__dot::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #5f5b53;
    display: block;
    border-radius: 50%;
}
.blog__dot--active::before {
    background-color: var(--second-btn-color);
}
/* -------------Footer---------- */
.footer {
    background: #2e2100;
    padding-top: 96px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #59554b;
    padding-bottom: 38px;
}
.footer__column--brands {
    width: 270px;
}
.footer__column--company {
    width: 130px;
}
.footer__column--support {
    width: 137px;
}
.footer__column--address {
    width: 231px;
}
.footer__desc {
    color: #bfbcb2;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
    width: 267px;
    margin-top: 18px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 0 18px;
    margin-top: 18px;
}

.footer__heading {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* margin-bottom: 43px; */
}
.footer__heading::after {
    content: "";
    width: 130px;
    height: 1px;
    display: block;
    background: #59554b;
    margin-top: 14px;
    margin-bottom: 28px;
}

.footer__item + .footer__item {
    margin-top: 12px;
}
/* .footer__item :first-child {
    margin-top: 28px;
} */
.footer__link {
    color: #bfbcb2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}
.footer__contact-row {
    color: #bfbcb2;
    font-size: 14px;
    line-height: 26px;
}
.footer__contact-row + .footer__contact-row {
    margin-top: 12px;
}
.footer__contact-label {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.footer__bottom {
    text-align: center;
    padding: 28px 0px;
}

.footer__copy-right {
    color: #807d74;
    font-size: 14px;
    font-style: normal;
    line-height: 26px;
}
